<!-- templates/home.html-->
{% extends 'base.html' %}


{% block content %}
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Welcome to UPS!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Welcome, {{user.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<body>
<div>
    <div>
        <h1>Your Packages</h1>
        <ul>
            {% for object in packages %}
            <li><b> Package status: {{object.2}}</b></li>
            <ul>
                {% for item in object.1 %}
                <li><a>Contents:</a> {{ item.name }}: {{ item.description }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
{% else %}
<meta http-equiv="refresh" content="0; {% url 'login' %}"/>
{% endif %}
{% endblock %}
