{% extends "base.html" %}

{% block content %}
    <h1>Your Confirmed Rides</h1>
    <ul>
        {%  for object in trucks  %}
        <li><a>{{ object.status }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}